*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

	/* Scroll animacija */

html {
  scroll-behavior: smooth;
 }
#banner{
	background: linear-gradient(rgba(0, 0, 0, .5),rgb(10, 10, 10)),url(multimedija/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}
	/* Gimnazija text */

.banner-text{
	text-align: center;
	color: #fff;
	padding-top: 210px;
}
.banner-text h1{
	font-size: 130px;
	font-family: 'Playfair Display', cursive;
}
	
	/* Buttons u sredini */

.banner-button {
	margin: 70px auto 0;
}
.banner-button a{
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;

}
.banner-button a span{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #99323c;
	z-index: -1;
	transition: 0.5s;
}
.banner-button a:hover span{
	width: 100%;
}
	
	/* Meni sa strane */

#sideNav{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: rgba(10, 10, 10, .65);
	box-shadow: 0 8px rgb(2, 4, 24);
	border-left: 2px solid rgba(255, 255, 255, 0.1);
	z-index: 2;
	transition: 0.5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
	text-transform: uppercase;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}

	/* Button u cosku */

#menuButton{
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#menuButton img{
	width: 20px;
	margin-top: 15px;
} 

#backButton{
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);

	text-align: center;
	position: fixed;
	left: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}

#backButton img{
	width: 20px;
	margin-top: 15px;
} 



#upButton{
	display: none;
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);

	text-align: center;
	position: fixed;
	right: 30px;
	bottom: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;

}

#upButton img{
	width: 20px;
	margin-top: 15px;
}

	/* Gimnazija text za telefon */

@media screen and (max-width: 770px){
	.banner-text h1{
		font-size: 44px;
	}
	.banner-button a{
		display: block;
		margin: 20px auto;
	}
}
	/* Sve za donji dio sajta */

#prvi{
	width: 100%;
	height: 87vh;
	padding: 75px 0;
}
.naslov{
	text-align: center;
	padding-bottom: 70px;
	text-decoration: none;
}
.naslov p{
	margin: auto;
	font-size: 20px;
	color: #99323c;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.naslov h1{
	font-size: 50px;
}
.box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.kontakti{
	flex-basis: 50%;
}
.kontakti-text p1{
	color: #ff0000;
}
.kontakti h1{	
	margin-bottom: 30px;
	font-weight: 100;
	color: #009688;
}
.kontakti-text p{
	padding-bottom: 20px;
}

	/* Velicina kontakta i mape za telefon */

@media screen and (max-width: 770px){
	.naslov h1{
	font-size: 35px;
	}
	.kontakti-slike iframe{
		width: 100%;
	}
}
@media screen and (max-width: 770px){
	.kontakti{
		flex-basis: 100%;
	}
}

		/* Volontiranje maturanata */

#prvi{
	width: 100%;
	padding: 70px 0;

}
.vol-mat-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.vol-mat-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px	#00968814;
	cursor: pointer;
	transition: transform .5s;
}

.vol-mat-col:hover{
	transform: translateY(7px);
}

@media screen and (max-width: 770px){
	.vol-mat-col{
		flex-basis: 100%;
	}

}
.vol-mat-pic{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.vol-mat-pic1{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
}
.vol-mat-pic1 img{
	width: 100%;
	border-radius: 7px;
}
@media screen and (max-width: 770px){

	.vol-mat-pic1 {
		margin-bottom: 5px;
		flex-basis: 100%;
	}

}

		/* Humanitarne karaoke */

#drugi{
	width: 100%;
	padding: 70px 0;
	background: #efefef;
}
.hum-kar-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.hum-kar-col{
	flex-basis: 28%;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px	#00968814;
	cursor: pointer;
	transition: transform .5s;
}

.hum-kar-col:hover{
	transform: translateY(7px);
}

@media screen and (max-width: 770px){
	.hum-kar-col{
		flex-basis: 100%;
	}

}
.hum-kar-pic{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.hum-kar-pic1{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
}
.hum-kar-pic1 img{
	width: 100%;
	border-radius: 7px;
}
@media screen and (max-width: 770px){

	.hum-kar-pic1 {
		margin-bottom: 5px;
		flex-basis: 100%;
	}

}

		/* Maturska ekskurzija */

#treci{
	width: 100%;
	padding: 70px 0;
}
.mat-eks-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.mat-eks-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px	#00968814;
	cursor: pointer;
	transition: transform .5s;
}

.mat-eks-col:hover{
	transform: translateY(7px);
}

@media screen and (max-width: 770px){
	.mat-eks-col{
		flex-basis: 100%;
	}

}
.mat-eks-pic{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.mat-eks-pic1{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
}
.mat-eks-pic1 img{
	width: 100%;
	border-radius: 7px;
}
@media screen and (max-width: 770px){

	.mat-eks-pic1 {
		margin-bottom: 5px;
		flex-basis: 100%;
	}
}

		/* Linija ispod texta side meni */

.sideNav ul,li::after{
	content: '';	
	height: 3px;
	width: 0;
	background: #99323c;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.sideNav ul,li{
	position: relative;
}

.sideNav ul,li:hover::after{
	width: 34%;
}