*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

	/* Scroll animacija */

html {
  scroll-behavior: smooth;
 }
#banner{
	background: linear-gradient(rgba(0, 0, 0, .5),rgb(10, 10, 10)),url(multimedija/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}
	/* Gimnazija text */

.banner-text{
	text-align: center;
	color: #fff;
	padding-top: 210px;
}
.banner-text h1{
	font-size: 130px;
	font-family: 'Playfair Display', cursive;
}
	
	/* Buttons u sredini */

.banner-button {
	margin: 70px auto 0;
}
.banner-button a{
	width: 150px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #fff;
	border: .5px solid #fff;
	position: relative;
	z-index: 1;

}
.banner-button a span{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #99323c;
	z-index: -1;
	transition: 0.5s;
}
.banner-button a:hover span{
	width: 100%;
}
	
	/* Meni sa strane */

#sideNav{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	background: rgba(10, 10, 10, .65);
	box-shadow: 0 8px rgb(2, 4, 24);
	border-left: 2px solid rgba(255, 255, 255, 0.1);
	z-index: 2;
	transition: 0.5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
	text-transform: uppercase;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}

	/* Button u cosku */

#menuButton{
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}
#menuButton img{
	width: 20px;
	margin-top: 15px;
} 

#backButton{
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);
	text-align: center;
	position: fixed;
	left: 30px;
	top: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;
}

#backButton img{
	width: 20px;
	margin-top: 15px;
} 



#upButton{
	display: none;
	width: 50px;
	height: 50px;
	background: rgba(10,10,10,0.65);
	text-align: center;
	position: fixed;
	right: 30px;
	bottom: 20px;
	border-radius: 3px;
	z-index: 3;
	cursor: pointer;

}

#upButton img{
	width: 20px;
	margin-top: 15px;
}

	/* Gimnazija text za telefon */

@media screen and (max-width: 770px){
	.banner-text h1{
		font-size: 44px;
	}
	.banner-button a{
		display: block;
		margin: 20px auto;
	}
}

		/* Linija ispod texta side meni */

.sideNav ul,li::after{
	content: '';	
	height: 3px;
	width: 0;
	background: #99323c;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.sideNav ul,li{
	position: relative;
}

.sideNav ul,li:hover::after{
	width: 34%;
}